/* the work debt
- animate-top
- 

*/

/* nav-start */
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  /*background-color: white;*/
  z-index: 5;
}
.nav-content {
  width: 100%;
  height: 100%;
}

.nav-content a {
  padding: 8px 16px;
  text-decoration: none;
  font-size: 16px;
  color: var(--text-color);
  text-transform: uppercase;
  float: left;
}

.nav-content a {
  padding: 8px 16px;
  text-decoration: none;
  font-size: 16px;
  color: var(--text-color);
  text-transform: uppercase;
  float: left;
  line-height: 1.8;
}

.nav-content a:hover {
  color: black;
  background-color: #ccc;
}

.nav-content a:last-child {
  float: right;
}

.nav-content a:last-child:hover {
  color: white !important;
  background-color: #f44336 !important;
}
@keyframes animatetop {
  from {
    display: none;
  }
  to {
    display: block;
    /*animation-duration: 0.4s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: animatetop;*/
  }
}

.animate-top {
}

/* nav-end */

/* First Parallax Image stat */
.first-parallax {
  position: relative;
  background-image: url(../../assets/images/parallax1.jpg);
  min-height: 400px;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.75;
}

.first-parallax__text {
  position: absolute;
  top: 43%;
  left: 37%;
  background: black;
}

.first-parallax__text span {
  padding: 12px 24px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 10px;
  font-size: 24px;
  line-height: 2.2;
}

.first-parallax__text span span {
  padding: 0px 0px !important;
}
/* First Parallax Image end */

/* about start */
.about {
  max-width: 980px;
  margin: 0 301.500px;
  padding: 64px 12px;
  font-size: 15px;
}

.about h3 {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 10px 0;
}

.about p:nth-child(2) {
  text-align: center;
  font-style: italic;
  line-height: 1.5;
}

.about p:nth-child(3) {
  line-height: 1.8;
}



.about-personal {
  display: flex;
}

.about-personal__item {
  padding: 12px 24px;
  width: 49.9999%;
}

.about-personal__name b i {
  padding-right: 8px;
}

.about-personal__name {
  text-align: center;
  margin: 15px 0;
}

.about-personal__intro {
  line-height: 1.8;
  font-size: 15px;
}


.about-personal__item img {
  width: 100%;
  border-radius: 4px;
}

.about-specialize {
  
}

.about-specialize_level {
  
}


/* about end */

